fastapi
uvicorn[standard]
faiss-cpu
sentence-transformers
openai>=1.0.0

# Streamlit UI
streamlit
streamlit_lottie

# Core ML & data
torch>=2.0.1
scikit-learn
numpy
pandas
joblib

# Utilities
requests
gdown
